BASE_URL=http://localhost
TANDOOR_TOKEN=your_token
TANDOOR_USERNAME=your_username
TANDOOR_PASSWORD=your_password

# Django
SECRET_KEY=your-secret-key-here

# Database
POSTGRES_DB=djangodb
POSTGRES_USER=djangodb
POSTGRES_PASSWORD=your-password-here
DB_PASSWORD=your-password-here

# App settings
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,web_recipes